{% extends 'base.html' %}

{% load static %}

{% block css %}
<!-- Summernote css -->
<link href="{% static 'libs/summernote/summernote-bs4.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            {% include "base_page_title.html" %}

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form method="post" action="{% url 'grade:update' file.id %}">
                                        {% csrf_token %}

                                        <input type="hidden" id="id" name="id" value="{{ file.id }}">

                                        <!-- <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">Nama Pelamar</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ file.Applicant }}" disabled required=""
                                                    parsley-type="email" class="form-control parsley-success"
                                                    id="inputEmail3" placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div> -->

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">Nama File</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ file.name }}" name="name" disabled
                                                    required="" parsley-type="email"
                                                    class="form-control parsley-success" id="inputEmail3"
                                                    placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">Catatan</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ file.note }}" name="note"
                                                    parsley-type="email" class="form-control parsley-success"
                                                    id="inputEmail3" placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div>

                                        <!-- <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">Lokasi File</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ file.location }}" name="location" disabled
                                                    required="" parsley-type="email"
                                                    class="form-control parsley-success" id="inputEmail3"
                                                    placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">Ukuran File</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ file.size }}" name="size" disabled
                                                    required="" parsley-type="email"
                                                    class="form-control parsley-success" id="inputEmail3"
                                                    placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">Durasi File</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ file.duration }}" name="duration" disabled
                                                    required="" parsley-type="email"
                                                    class="form-control parsley-success" id="inputEmail3"
                                                    placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div> -->

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">Waktu File
                                                Dibuat</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ grade.created_at }}" name="created_at"
                                                    disabled required="" parsley-type="email"
                                                    class="form-control parsley-success" id="inputEmail3"
                                                    placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">Waktu File
                                                Diupdate</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ grade.updated_at }}" name="updated_at"
                                                    disabled required="" parsley-type="email"
                                                    class="form-control parsley-success" id="inputEmail3"
                                                    placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">action
                                                Grade</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ grade.action_grade }}" name="action_grade"
                                                    required="" parsley-type="email"
                                                    class="form-control parsley-success" id="inputEmail3"
                                                    placeholder="Pelamar" data-parsley-id="40">
                                                <!-- <select name="action_grade" class="btn btn-light">
                                                    <option value="1"
                                                        {% ifequal grade.action_grade 1 %}selected{% endifequal %}>(1) Not
                                                        Satisfactory</option>
                                                    <option value="2"
                                                        {% ifequal grade.action_grade 2 %}selected{% endifequal %}>(2) Less
                                                        Satisfactory</option>
                                                    <option value="3"
                                                        {% ifequal grade.action_grade 3 %}selected{% endifequal %}>
                                                        (3) Satisfactory</option>
                                                </select> -->
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">enthusiasm
                                                Grade</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ grade.enthusiasm_grade }}"
                                                    name="enthusiasm_grade" required="" parsley-type="email"
                                                    class="form-control parsley-success" id="inputEmail3"
                                                    placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">focus
                                                Grade</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ grade.focus_grade }}" name="focus_grade"
                                                    required="" parsley-type="email"
                                                    class="form-control parsley-success" id="inputEmail3"
                                                    placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">imagine
                                                Grade</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ grade.imagine_grade }}"
                                                    name="imagine_grade" required="" parsley-type="email"
                                                    class="form-control parsley-success" id="inputEmail3"
                                                    placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">integrity
                                                Grade</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ grade.integrity_grade }}"
                                                    name="integrity_grade" required="" parsley-type="email"
                                                    class="form-control parsley-success" id="inputEmail3"
                                                    placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">smart
                                                Grade</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ grade.smart_grade }}" name="smart_grade"
                                                    required="" parsley-type="email"
                                                    class="form-control parsley-success" id="inputEmail3"
                                                    placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">solid
                                                Grade</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ grade.solid_grade }}" name="solid_grade"
                                                    required="" parsley-type="email"
                                                    class="form-control parsley-success" id="inputEmail3"
                                                    placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">speed
                                                Grade</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ grade.speed_grade }}" name="speed_grade"
                                                    required="" parsley-type="email"
                                                    class="form-control parsley-success" id="inputEmail3"
                                                    placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">totality
                                                Grade</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ grade.totality_grade }}"
                                                    name="totality_grade" required="" parsley-type="email"
                                                    class="form-control parsley-success" id="inputEmail3"
                                                    placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">TOTAL
                                                GRADE</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ grade.total }}" name="totality_grade"
                                                    disabled parsley-type="email" class="form-control parsley-success"
                                                    id="inputEmail3" placeholder="Pelamar" data-parsley-id="40">
                                            </div>
                                        </div>

                                        <ul class="list-inline wizard mt-3">
                                            <li class="previous list-inline-item">
                                                <a href="{% url 'grade:index' %}">
                                                    <button type="button" class="ladda-button btn btn-info"
                                                        data-style="slide-right"><i
                                                            class="mdi mdi-backspace-outline"></i> Back
                                                    </button>
                                                </a>
                                            </li>


                                            <li class="next list-inline-item">

                                                <button type="button" class="btn btn-success waves-effect waves-light"
                                                    data-toggle="modal" data-style="slide-right"
                                                    data-target=".bs-example-modal-center{{file.id}}"><i
                                                        class="mdi mdi-content-save-outline mr-1"></i> Save</button>

                                                <div class="modal fade bs-example-modal-center{{file.id}}" tabindex="-1"
                                                    role="dialog" aria-labelledby="myCenterModalLabel"
                                                    aria-hidden="true" style="display: none;">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" id="myCenterModalLabel">Are you
                                                                    sure
                                                                    to save?</h4>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">×</button>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                    class="btn btn-secondary waves-effect"
                                                                    data-dismiss="modal">Close</button>
                                                                <button type="submit"
                                                                    class="btn btn-success waves-effect waves-light"
                                                                    data-style="slide-right"><i
                                                                        class="mdi mdi-delete"></i> Save</button>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->

                                            </li>

                                            <li class="next list-inline-item float-right">

                                                <button type="button" class="btn ladda-button btn btn-danger"
                                                    data-toggle="modal" data-style="slide-right"
                                                    data-target=".bs-example-modal-center-process{{file.id}}"><i
                                                        class="mdi mdi mdi-play-box-outline"></i> Grade</button>

                                            </li>

                                            <div class="modal fade bs-example-modal-center-process{{file.id}}"
                                                tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel"
                                                aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myCenterModalLabel">Are you
                                                                sure
                                                                to Process?</h4>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">×</button>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary waves-effect"
                                                                data-dismiss="modal">Close</button>

                                                            <a href="{% url 'grade:process' file.id %}">
                                                                <button type="button"
                                                                    class="btn ladda-button btn btn-danger"
                                                                    data-style="slide-right"><i
                                                                        class="mdi mdi mdi-play-box-outline"></i>
                                                                    Grade</button>
                                                            </a>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!-- /.modal -->

                                            </li>



                                        </ul>

                                    </form>
                                </div> <!-- end col -->

                            </div>
                            <!-- end row-->

                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div><!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->

    {% include "base_footer.html" %}

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

{% endblock %}

{% block js %}
<!-- Summernote js -->
<script src="{% static 'libs/summernote/summernote-bs4.min.js' %}"></script>

<!-- Init js -->
<script src="{% static 'js/pages/form-summernote.init.js' %}"></script>
{% endblock %}