{% load static %}

<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Navigation</li>

                <li>
                    <a href="index.html">
                        <i class="fe-airplay"></i>
                        <!--<span class="badge badge-success badge-pill float-right">4</span>-->
                        <span> Dashboard </span>
                    </a>
                </li>

                <li>
                    <a href="audio-upload.html">
                        <i class="far fa-file-audio"></i>
                        <span> Audio Upload </span>
                        <!--<span class="menu-arrow"></span>-->
                    </a>
                    <!--<ul class="nav-second-level" aria-expanded="false">
                                <li>
                                    <a href="apps-kanbanboard.html">Kanban Board</a>
                                </li>
                                <li>
                                    <a href="apps-calendar.html">Calendar</a>
                                </li>
                                <li>
                                    <a href="apps-contacts.html">Contacts</a>
                                </li>
                                <li>
                                    <a href="apps-projects.html">Projects</a>
                                </li>
                                <li>
                                    <a href="apps-tickets.html">Tickets</a>
                                </li>
                                <li>
                                    <a href="apps-companies.html">Companies</a>
                                </li>
                            </ul>-->
                </li>

                <li>
                    <a href="speech-to-text.html">
                        <i class="fe-users"></i>
                        <span> Speech to Text </span>
                    </a>
                </li>

                <li>
                    <a href="text-grading.html">
                        <i class="fas fa-envelope-open-text"></i>
                        <span> Text Grading </span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->