{% load static %}

<!-- Vendor js -->
<script src="{% static 'js/vendor.min.js' %}"></script>

<!-- Loading buttons js -->
<script src="{% static 'libs/ladda/spin.js' %}"></script>
<script src="{% static 'libs/ladda/ladda.js' %}"></script>

<!-- App js -->
<script src="{% static 'js/app.min.js' %}"></script>

<!-- Table Editable plugin-->
<!-- <script src="{% static 'libs/jquery-tabledit/jquery.tabledit.min.js' %}"></script> -->

<!-- Table editable init-->
<!-- <script src="{% static 'js/pages/tabledit.init.js' %}"></script> -->

<!-- Buttons init js-->
<!-- <script src="{% static 'js/pages/loading-btn.init.js' %}"></script> -->
